* {
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

:root {
	--bg-color-primary: #ffffff;
	--bg-color-secondary: #000000;
	--text-color-primary: #000000;
	--text-color-secondary: #ffffff;
	--h1-font-size: 5rem;
	--h3-font-size: 3rem;
	--p-font-size: 1rem;
}

															/*navigation style*/

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	transition: .3s;
}

header.sticky{
	background: var(--bg-color-secondary);
	padding: 5px;
	box-shadow: 0px 0px 10px rgb(0, 0, 0 / 10%);
	opacity: .70;
}

header.scrolled {
	background: var(--bg-color-primary);
	opacity: 0.98;
}

.logo img{
	max-width: 100%;
	width: 70px;
	height: auto;
	margin-left: 10px;
}

.navlist {
	display: flex;
	list-style-type: none;
}

.navlist li{
	position: relative;
}

.navlist a{
	font-size: var(--p-font-size);
	color: var(--text-color-secondary);
	font-weight: 500;
	padding: 10px 20px;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
}

header.scrolled .navlist a {
	color: var(--text-color-primary);
}

.navlist a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--bg-color-primary);
	bottom: -5px;
	left: 0;
	transition: ease .40s;
}

header.scrolled .navlist a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--bg-color-secondary);
	bottom: -5px;
	left: 0;
	transition: ease .40s;
}

.navlist a:hover::after{
	width: 100%;
}

header.scrolled .navlist a:hover::after{
	width: 100%;
}

#menu-icon {
	font-size: 35px;
	color: var(--bg-color-primary);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

header.scrolled .bx-menu {
	font-size: 35px;
	color: var(--bg-color-secondary);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.cv-btn {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--bg-color-primary);
	border-radius: 5px;
	color: var(--text-color-secondary);
	letter-spacing: 1px;
	font-size: var(--p-font-size);
	text-decoration: none;
	font-weight: 500;
	transition: ease .50s;
	margin-right: 20px;
}

.cv-btn:hover{
	transform: scale(1.1);
	background: var(--bg-color-primary);
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-primary);
}

header.scrolled .cv-btn {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--bg-color-secondary);
	border-radius: 5px;
	color: var(--text-color-primary);
	letter-spacing: 1px;
	font-size: var(--p-font-size);
	text-decoration: none;
	font-weight: 500;
	transition: ease .50s;
}

header.scrolled .cv-btn:hover {
	transform: scale(1.1);
	background: var(--bg-color-secondary);
	border: 2px solid var(--bg-color-secondary);
	color: var(--text-color-secondary);
}

															/*home section*/

section {
	padding: 80px 10%;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
	background-repeat: no-repeat;
}

.home {
	background: url(images/bg.webp);
	height: 100vh;
	width: 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

/*hide scrollbar*/
body::-webkit-scrollbar{
	display: none;
}

.profile-image {
	max-width: 350px;
	min-width: 100px;
	height: auto;
	max-height: 100vh;
	display: flex;
	justify-content: left;
	margin-left: 5%;
	margin-top: 30px;
	position: relative;
}

.profile-image img{
	height: auto;
	max-width: 100%;
	display: inline-block;
	border-radius: 50%;
	border: 5px solid #ffffff;
	margin-top: 5%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.profile-image img:hover{
	filter: none;
	-webkit-filter: none;
}

.text-container {
	margin-top: 20px;
	color: var(--text-color-secondary);
	letter-spacing: 1.5px;
}

.text-container h1 {
	font-size: var(--h1-font-size);
}

.text-container p {
	font-size: var(--p-font-size);
}

.option-container a{
	margin-top: 30px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-secondary);
	padding: 10px 30px;
	text-decoration: none;
	transition: ease .50s;
}

.option-container .sk {
	padding: 10px 45px;
}

.option-container .sk{
	background: var(--bg-color-primary);
	color: var(--text-color-primary);
	margin-left: 30px;
	font-weight: 600;
	transition: ease .50s;
}

.option-container .sk:hover{
	transform: scale(1.1);
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-primary);
}

.option-container .am:hover{
	transform: scale(1.1);
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-secondary);
}
															/*about section*/

.about {
	width: 100%;
	height: auto;
	min-height: 70vh;
	margin: 0 auto;
}

.about-container {
	align-items: center;
	justify-content: center;
	display: flex;
	padding: 50px 150px;
}

.about-image {
	text-align: center;
}


.about-image img {
	position: relative;
	max-width: 300px;
	min-width: 100px;
	height: auto;
	max-height: 100vh;
	border-radius: 10%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 00% 0% 0% 0%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%)
}

.about-image img:hover {
	filter: none;
	-webkit-filter: none;
}

.about-text {
	text-align: center;
	margin-left: 5%;
}

.about-title {
	font-size: var(--h3-font-size);
}

.about-text p{
	margin-top: 20px;
	font-size: var(--p-font-size);
	text-align: justify;
	line-height: 25px;
}

															/*skills section*/

.skills {
	width: 100%;
	height: auto;
	min-height: 100vh;
	margin: auto;
	display: block;
	text-align: center;
	position: relative;
}

.skill-title {
	display: inline-block;
	max-width: 800px;
	min-width: 100px;
	text-align: center;
}

.skill-title h2{
	font-size: var(--h3-font-size);
}

.skill-title p{
	margin: 10px;
	line-height: 25px;
}

.skill-logo {
	display: inline-block;
	font-size: 1.3rem;
	font-weight: medium;
	color: var(--text-color-secondary);
}

.skill-logo p{
	font-size: 0.8rem;
}

.skill-logo:hover{
	color: var(--text-color-primary);
	transition: 2s all;
}

.skill-container .skill-logo-container img{
	width: 100px;
	height: auto;
	max-width: 100%;
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.skill-container .skill-logo-container img:hover{
	filter: none;
	-webkit-filter: none;
}


															/*education-section*/
.education{
	width: 100%;
	height: auto;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.education-title {
	margin: auto;
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-bottom: 5%;
}

.education-title h2{
	font-size: var(--h3-font-size);
}

.education-data {
  	display: grid;
  	grid-template-columns: 1fr max-content 1fr;
  	column-gap: 1.5rem;
}

.education-data-left:hover, .education-data-right:hover{
	color: orange;
}

.education-data-left {
	text-align-last: end;
}

.education-school {
 	letter-spacing: 1px;
 	font-size: 1.3rem;
  	font-weight: medium;
}

.education-sub {
	display: inline-block;
	font-size: 0.9rem;
	font-style: italic;
  	font-weight: thin;
}

.education-address {
  	display: inline-block;
 	font-size: 0.9rem;
  	margin-bottom: 1rem;
  	font-weight: thin;
}

.education-date {
  	font-size: 0.8rem;
  	font-weight: lighter;
 	font-style: italic;
  	color: var(--text-color-primary);
}

.education-round {
 	display: inline-block;
	width: 13px;
 	height: 13px;
 	background-color: #000000;
 	border-radius: 50%;
}

.education-line {
 	display: block;
 	width: 1px;
 	height: 100%;
 	background-color: #000000;
  	transform: translate(6px, -7px);
}

.education-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.school-logo {
	width: 100px;
	height: auto;
	display: inline;
	margin: 40px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.school-logo img{
	max-width: 100%;
	height: auto;
}

.school-logo:hover{
	filter: none;
	-webkit-filter: none;
}

														/*certifications*/

.certification {
	margin-top: 5%;
	padding: 2rem;
	margin-bottom: 5%;
}

.certification-title {
	margin: auto;
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-bottom: 3%;
}

.certification-title h2{
	font-size: var(--h3-font-size);
}

.slider-wrapper {
	position: relative;
	max-width: 48rem;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 13 / 9;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 0.8rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #999999;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	background-color: #000000;
}



														/* 320px responsive style*/

@media screen and (max-width: 320px) {

	/*navigation section 320px*/
	#menu-icon {
		display: block;
	}

	.home{
		min-height: 80vh;
	}

	.navlist{
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-secondary);
		text-align: right;
		transition: all .40s;
	}

	.navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-primary);
		color: var(--text-color-secondary);
	}

	.navlist a:hover{
		background: var(--bg-color-primary);
		color: var(--text-color-primary);
		border-radius: 5px 0px 5px 5px;
	}

	.navlist a::after{
		display: none;
	}

	.navlist.active {
		top: 100%;
	}

	header.scrolled #menu-icon {
		font-size: 35px;
		color: black;
		z-index: 10001;
		cursor: pointer;
	}

	header.scrolled .navlist{
		position: absolute;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-primary);
		text-align: right;
		transition: all .40s;
	}

	header.scrolled .navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-secondary);
		color: var(--text-color-primary);
	}

	header.scrolled .navlist a:hover{
		background: var(--bg-color-secondary);
		opacity: .80;
		color: var(--text-color-secondary);
		border-radius: 5px 0px 5px 5px;
	}

	.cv-btn {
		padding: 5px 10px;
		border: 1px solid var(--bg-color-primary);
	}

	header.scrolled .cv-btn {
		padding: 5px 10px;
		border: 1px solid var(--bg-color-secondary);
	}


	/*home section 320px*/

	.home {
		text-align: center;
		padding: 50px 20px;
	}

	.profile-image {
		display: flex;
		justify-content: none;
		max-width: 250px;
		margin-top: 0px;
		margin-left: 0%;
		margin: 0 50px ;
	}

	.profile-image img{
		margin-top: 130px;
		border: 3px solid #ffffff;
	}

	.text-container {
		margin-top: 50px;
		padding: 0px 20px;
	}

	.text-container h1 {
		font-size: 1.6rem;
	}

	.text-container p {
		text-align: center;
		margin-top: 20px;
		font-size: 0.9rem;
	}

	.option-container {
		justify-content: center;
	}

	.option-container .am{
		padding: 10px 20px;
	}

	.option-container .sk{
		margin-left: 20px;
		padding: 10px 30px;
	}

	/*about section 320px*/	

	.about {
		justify-content: center;
		text-align: center;
	}

	.about-container {
		align-items: center;
		justify-content: center;
		display: block;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-image img {
		width: 150px;
		margin-bottom: 30px;
		transition: ease 1s;
	}

	.about-text {
		text-align: center;
		margin-left: 0%;
	}

	.about-sub {
		font-size: 1rem;
	}

	.about-title {
		font-size: 2rem;
	}

	.about-text p{
		margin-top: 20px;
		font-size: 0.9rem;
		text-align: justify;
		line-height: 25px;
	}

	/*skills section 320px*/	

	.skill-title h2{
		font-size: 2rem;
	}

	.skill-title p{
		font-size: 0.9rem;
	}

	.skill-logo {
		font-size: 1rem;
	}

	.skill-container .skill-logo-container img{
		width: 90px;
		height: auto;
		max-width: 100%;
		margin-top: 10px;
		margin-right: 0px;
		margin-left: 0px;
	}

	/*education section 320*/

	.education-title {
		margin-bottom: 10%;
	}

	.education-title h2{
		font-size: 2rem;
	}

	.education-title span {
		font-size: 1rem;
	}

	.education-school {
	 	letter-spacing: 0.5px;
	 	font-size: 1rem;
	}

	.education-sub {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 0.8rem;
	}

	.education-address {
	 	font-size: 0.8rem;
	 	margin-top: 0.5rem;
	  	margin-bottom: 0.5rem;
	}

	.education-logo {
		margin-top: 20px;
	}

	.school-logo {
		width: 45px;
		height: auto;
	}

	/*certification section 320px*/

	.certification-title h2{
		font-size: 2rem;
	}
}

														/*420px responsive style*/

@media screen and (min-width: 321px) and (max-width: 420px) {

	/*navigation section 420px*/

	#menu-icon {
		display: block;
	}

	.home{
		min-height: 80vh;
	}

	.navlist{
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-secondary);
		text-align: right;
		transition: all .40s;
	}

	.navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-primary);
		color: var(--text-color-secondary);
	}

	.navlist a:hover{
		background: var(--bg-color-primary);
		color: var(--text-color-primary);
		border-radius: 5px 0px 5px 5px;
	}

	.navlist a::after{
		display: none;
	}

	.navlist.active {
		top: 100%;
	}

	header.scrolled #menu-icon {
		font-size: 35px;
		color: black;
		z-index: 10001;
		cursor: pointer;
	}

	header.scrolled .navlist{
		position: absolute;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-primary);
		text-align: right;
		transition: all .40s;
	}

	header.scrolled .navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-secondary);
		color: var(--text-color-primary);
	}

	header.scrolled .navlist a:hover{
		background: var(--bg-color-secondary);
		opacity: .80;
		color: var(--text-color-secondary);
		border-radius: 5px 0px 5px 5px;
	}

	.cv-btn {
		padding: 8px 15px;
		border: 2px solid var(--bg-color-primary);
	}

	header.scrolled .cv-btn {
		padding: 8px 15px;
		border: 2px solid var(--bg-color-secondary);
	}

	/*home section 420px*/

	.home {
		text-align: center;
		padding: 50px 20px;
	}

	.profile-image {
		display: flex;
		justify-content: none;
		text-align: center;
		max-width: 250px;
		margin-top: 0px;
		margin-left: 0%;
		margin: 0 70px ;
	}

	.profile-image img{
		margin-top: 130px;
		border: 3px solid #ffffff;
	}

	.text-container {
		margin-top: 50px;
		padding: 0px 10px;
	}

	.text-container h1 {
		font-size: 1.9rem;
	}

	.text-container p {
		margin-top: 20px;
		font-size: 0.9rem;
	}

	.option-container {
		justify-content: center;
	}

	.option-container .am{
		padding: 8px 25px;
	}

	.option-container .sk{
		margin-left: 20px;
		padding: 8px 35px;
	}

	/*about section 420px*/	

	.about {
		justify-content: center;
		text-align: center;
	}

	.about-container {
		align-items: center;
		justify-content: center;
		display: block;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-image img {
		width: 200px;
		margin-bottom: 30px;
		transition: ease 1s;
	}

	.about-text {
		text-align: center;
		margin-left: 0%;
	}

	.about-sub {
		font-size: 1rem;
	}

	.about-title {
		font-size: 2.5rem;
	}

	.about-text p{
		margin-top: 20px;
		font-size: 0.9rem;
		text-align: justify;
		line-height: 25px;
	}

	/*skills section 420px*/	

	.skill-title h2{
		font-size: 2.5rem;
	}

	.skill-title p{
		font-size: 0.9rem;
	}

	.skill-logo {
		font-size: 1rem;
	}

	.skill-container .skill-logo-container img{
		width: 90px;
		height: auto;
		max-width: 100%;
		margin-top: 10px;
		margin-right: 0px;
		margin-left: 0px;
	}

	/*education section 420px*/

	.education-title {
		margin-bottom: 10%;
	}

	.education-title h2{
		font-size: 2.5rem;
	}

	.education-title span {
		font-size: 1rem;
	}

	.education-school {
	 	letter-spacing: 0.5px;
	 	font-size: 1rem;
	}

	.education-sub {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 0.8rem;
	}

	.education-address {
	 	font-size: 0.8rem;
	 	margin-top: 0.5rem;
	  	margin-bottom: 0.5rem;
	}

	.education-logo {
		margin-top: 20px;
	}

	.school-logo {
		width: 70px;
		height: auto;
	}
	
	/*certification section 420px*/

	.certification-title h2{
		font-size: 2.5rem;
	}
}

															/* 520px responsive style*/

@media screen and (min-width: 421px) and (max-width: 520px) {

	/*navigation section 520px*/

	#menu-icon {
		display: block;
	}

	.home{
		min-height: 80vh;
	}

	.navlist{
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-secondary);
		text-align: right;
		transition: all .40s;
	}

	.navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-primary);
		color: var(--text-color-secondary);
	}

	.navlist a:hover{
		background: var(--bg-color-primary);
		color: var(--text-color-primary);
		border-radius: 5px 0px 5px 5px;
	}

	.navlist a::after{
		display: none;
	}

	.navlist.active {
		top: 100%;
	}

	header.scrolled #menu-icon {
		font-size: 35px;
		color: black;
		z-index: 10001;
		cursor: pointer;
	}

	header.scrolled .navlist{
		position: absolute;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-primary);
		text-align: right;
		transition: all .40s;
	}

	header.scrolled .navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-secondary);
		color: var(--text-color-primary);
	}

	header.scrolled .navlist a:hover{
		background: var(--bg-color-secondary);
		opacity: .80;
		color: var(--text-color-secondary);
		border-radius: 5px 0px 5px 5px;
	}

	/*home section 520px*/

	.profile-image {
		display: flex;
		justify-content: none;
		text-align: center;
		max-width: 350px;
		margin-top: 0px;
		margin-left: 0%;
		margin: 0 70px;
		transition: 2s;
	}


	.profile-image img{
		margin-top: 15%;
	}

	.text-container {
		margin-top: 50px;
	}

	.text-container h1 {
		font-size: 3rem;
	}

	.text-container p {
		margin-top: 10px;
		font-size: 1rem;
	}

	.option-container a{
		margin-top: 30px;
	}

	.option-container .am{
		padding: 10px 40px;
	}

	.option-container .sk{
		margin-left: 20px;
		padding: 10px 50px;
	}
	
	/*about section 520px*/	

	.about-container {
		display: block;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-image img {
		width: 250px;
		margin-bottom: 30px;
		transition: ease 2s;
	}

	.about-text {
		text-align: center;
		margin-left: 0%;
	}

	.about-sub {
		font-size: 1.3rem;
	}

	.about-title {
		font-size: 3rem;
	}

	.about-text p{
		margin-top: 20px;
		font-size: 1rem;
		text-align: justify;
		line-height: 25px;
	}

	/*skills section 520px*/

	.skill-title h2{
		font-size: 3rem;
	}

	.skill-title p{
		font-size: 1rem;
	}

	.skill-logo {
		font-size: 1rem;
	}

	.skill-container .skill-logo-container img{
		width: 100px;
		height: auto;
		max-width: 100%;
		margin-top: 10px;
		margin-right: 0px;
		margin-left: 0px;
	}	

	/*education section 520px*/
	
	.education-title {
		margin-bottom: 5%;
	}

	.education-title h2{
		font-size: 3rem;
	}

	.education-title span {
		font-size: 1.3rem;
	}

	.education-school {
	 	letter-spacing: 1px;
	 	font-size: 1.1rem;
	}

	.education-sub {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 0.9rem;
	}

	.education-address {
	 	font-size: 0.9rem;
	 	margin-top: 0.5rem;
	  	margin-bottom: 0.5rem;
	}

	.education-logo {
		margin-top: 20px;
	}

	.school-logo {
		width: 100px;
		height: auto;
	}

	/*certification section 520px*/

	.certification-title h2{
		font-size: 3rem;
	}
}


															/* 620px responsive style*/

@media screen and (min-width: 521px) and (max-width: 620px) {

	/*navigation section 520px*/

	#menu-icon {
		display: block;
	}

	.home{
		min-height: 80vh;
	}

	.navlist{
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-secondary);
		text-align: right;
		transition: all .40s;
	}

	.navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-primary);
		color: var(--text-color-secondary);
	}

	.navlist a:hover{
		background: var(--bg-color-primary);
		color: var(--text-color-primary);
		border-radius: 5px 0px 5px 5px;
	}

	.navlist a::after{
		display: none;
	}

	.navlist.active {
		top: 100%;
	}

	header.scrolled #menu-icon {
		font-size: 35px;
		color: black;
		z-index: 10001;
		cursor: pointer;
	}

	header.scrolled .navlist{
		position: absolute;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-primary);
		text-align: right;
		transition: all .40s;
	}

	header.scrolled .navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-secondary);
		color: var(--text-color-primary);
	}

	header.scrolled .navlist a:hover{
		background: var(--bg-color-secondary);
		opacity: .80;
		color: var(--text-color-secondary);
		border-radius: 5px 0px 5px 5px;
	}

	/*home section 520px*/

	.profile-image {
		display: flex;
		justify-content: none;
		text-align: center;
		max-width: 350px;
		margin-top: 0px;
		margin-left: 0%;
		margin: 0 70px;
		transition: 2s;
	}


	.profile-image img{
		margin-top: 15%;
	}

	.text-container {
		margin-top: 50px;
	}

	.text-container h1 {
		font-size: 3rem;
	}

	.text-container p {
		margin-top: 10px;
		font-size: 1rem;
	}

	.option-container a{
		margin-top: 30px;
	}

	.option-container .am{
		padding: 10px 40px;
	}

	.option-container .sk{
		margin-left: 20px;
		padding: 10px 50px;
	}
	
	/*about section 520px*/	

	.about-container {
		display: block;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-image img {
		width: 280px;
		margin-bottom: 30px;
		transition: ease 2s;
	}

	.about-text {
		text-align: center;
		margin-left: 0%;
	}

	.about-sub {
		font-size: 1.3rem;
	}

	.about-title {
		font-size: 3rem;
	}

	.about-text p{
		margin-top: 20px;
		font-size: 1rem;
		text-align: justify;
		line-height: 25px;
	}

	/*skills section 520px*/

	.skill-title h2{
		font-size: 3rem;
	}

	.skill-title p{
		font-size: 1rem;
	}

	.skill-logo {
		font-size: 1rem;
	}

	.skill-container .skill-logo-container img{
		width: 100px;
		height: auto;
		max-width: 100%;
		margin-top: 10px;
		margin-right: 0px;
		margin-left: 0px;
	}	

	/*education section 520px*/
	
	.education-title {
		margin-bottom: 5%;
	}

	.education-title h2{
		font-size: 3rem;
	}

	.education-title span {
		font-size: 1.3rem;
	}

	.education-school {
	 	letter-spacing: 1px;
	 	font-size: 1.1rem;
	}

	.education-sub {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 0.9rem;
	}

	.education-address {
	 	font-size: 0.9rem;
	 	margin-top: 0.5rem;
	  	margin-bottom: 0.5rem;
	}

	.education-logo {
		margin-top: 20px;
	}

	.school-logo {
		width: 100px;
		height: auto;
	}

	/*certification section 520px*/

	.certification-title h2{
		font-size: 3rem;
	}
}

															/* 720px responsive style*/

@media screen and (min-width: 621px) and (max-width: 720px) {
	
	/*navigation section 720px*/

	.cv-btn {
		font-size: 0.8rem;
		text-align: center;
		padding: 3px 8px;
		border: 1px solid var(--bg-color-primary);
	}

	header.scrolled .cv-btn {
		font-size: 0.8rem;
		text-align: center;
		padding: 3px 8px;
		border: 1px solid var(--bg-color-secondary);
	}

	/*about section 720px*/

	.about-container {
		display: block;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-image img {
		width: 280px;
		margin-bottom: 30px;
		transition: ease 2s;
	}

	.about-text {
		text-align: center;
		margin-left: 0%;
	}

	.about-text p{
		line-height: 30px;
	}

	/*skills section 720px*/	

	.skill-title p{
		line-height: 30px;
	}
}

															/* 820px responsive style*/

@media screen and (min-width: 721px) and (max-width: 820px) {

	/*home section 820px*/

	.text-container h1{
		font-size: 4rem;
	}



	/*about section 820px*/

	.about-container {
		align-items: center;
		justify-content: center;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-text {
		text-align: center;
		margin-left: 5%;
	}
}

															/* 920px responsive style*/

@media screen and (min-width: 821px) and (max-width: 920px) {

	/*home section 920px*/

	.text-container h1{
		font-size: 4.5rem;
	}

	.profile-image {
		margin-top: 10px;
	}

	.profile-image img{
		margin-top: 0%;
	}

	/*about section 920px*/

	.about-container {
		align-items: center;
		justify-content: center;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-text {
		text-align: center;
		margin-left: 5%;
	}
}

															/* 1020px responsive style*/

@media screen and (min-width: 921px) and (max-width: 1020px) {


	/*home section 1020px*/

	.text-container h1{
		font-size: 4.5rem;
	}

	.profile-image {
		margin-top: 10px;
	}

	.profile-image img{
		margin-top: 0%;
	}

	/*about section 1020px*/

	.about-container {
		align-items: center;
		justify-content: center;
		padding: 50px 30px;
	}

	.about-image {
		text-align: center;
	}

	.about-text {
		text-align: center;
		margin-left: 5%;
	}

}
