* {
	font-family: 'Roboto Condensed', sans-serif;
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
}

:root {
	--bg-color-primary: #ffffff;
	--bg-color-secondary: #000000;
	--text-color-primary: #000000;
	--text-color-secondary: #ffffff;
	--h1-font-size: 5rem;
	--h3-font-size: 3rem;
	--p-font-size: 1rem;
}

															/*navigation style*/

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	transition: .3s;
}

header.sticky{
	background: var(--bg-color-secondary);
	padding: 5px;
	box-shadow: 0px 0px 10px rgb(0, 0, 0 / 10%);
	opacity: .70;
}

header.scrolled {
	background: var(--bg-color-primary);
	opacity: 0.98;
}

.logo img{
	max-width: 100%;
	width: 70px;
	height: auto;
	margin-left: 30%;
}

.navlist {
	display: flex;
	list-style-type: none;
}

.navlist li{
	position: relative;
}

.navlist a{
	font-size: var(--p-font-size);
	color: var(--text-color-secondary);
	font-weight: 500;
	padding: 10px 20px;
	text-decoration: none;
	transition: color 0.4s ease-in-out;
}

header.scrolled .navlist a {
	color: var(--text-color-primary);
}

.navlist a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--bg-color-primary);
	bottom: -5px;
	left: 0;
	transition: ease .40s;
}

header.scrolled .navlist a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background: var(--bg-color-secondary);
	bottom: -5px;
	left: 0;
	transition: ease .40s;
}

.navlist a:hover::after{
	width: 100%;
}

header.scrolled .navlist a:hover::after{
	width: 100%;
}

#menu-icon {
	font-size: 35px;
	color: var(--bg-color-primary);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

header.scrolled .bx-menu {
	font-size: 35px;
	color: var(--bg-color-secondary);
	z-index: 10001;
	cursor: pointer;
	display: none;
}

.cv-btn {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--bg-color-primary);
	border-radius: 5px;
	color: var(--text-color-secondary);
	letter-spacing: 1px;
	font-size: var(--p-font-size);
	text-decoration: none;
	font-weight: 500;
	transition: ease .50s;
}

.cv-btn:hover{
	transform: scale(1.1);
	background: var(--bg-color-primary);
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-primary);
}

header.scrolled .cv-btn {
	display: inline-block;
	padding: 9px 30px;
	background: transparent;
	border: 2px solid var(--bg-color-secondary);
	border-radius: 5px;
	color: var(--text-color-primary);
	letter-spacing: 1px;
	font-size: var(--p-font-size);
	text-decoration: none;
	font-weight: 500;
	transition: ease .50s;
}

header.scrolled .cv-btn:hover {
	transform: scale(1.1);
	background: var(--bg-color-secondary);
	border: 2px solid var(--bg-color-secondary);
	color: var(--text-color-secondary);
}

															/*home section*/

section {
	padding: 80px 10%;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	background: url(images/bg.webp);
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
	background-repeat: no-repeat;
}

/*hide scrollbar*/
body::-webkit-scrollbar{
	display: none;
}

.profile-image {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: left;
	margin-left: 5%;
}

.profile-image img{
	height: auto;
	max-width: 100%;
	display: inline-block;
	border-radius: 50%;
	border: 5px solid #ffffff;
	margin-top: 5%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.profile-image img:hover{
	filter: none;
	-webkit-filter: none;
}

.text-container {
	margin-top: 20px;
	color: var(--text-color-secondary);
	letter-spacing: 1.5px;
}

.text-container h1 {
	font-size: var(--h1-font-size);
}

.text-container p {
	font-size: var(--p-font-size);
}

.option-container a{
	margin-top: 40px;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-secondary);
	padding: 10px 30px;
	text-decoration: none;
	transition: ease .50s;
}

.option-container .cv{
	background: var(--bg-color-primary);
	color: var(--text-color-primary);
	margin-left: 30px;
	font-weight: 600;
	transition: ease .50s;
}

.option-container .cv:hover{
	transform: scale(1.1);
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-primary);
}

.option-container .am:hover{
	transform: scale(1.1);
	border: 2px solid var(--bg-color-primary);
	color: var(--text-color-secondary);
}
															/*about-section*/

.about {
	width: 1000px;
	max-width: 80%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
	display: flex;
	padding-top: 10%;
	padding-bottom: 5%;
}

.about-image img {
	width: 300px;
	height: auto;
	min-width: 100%;
	max-width: 100%;
	margin: 80% 0% 0% 0%;
	border: 5px solid #ffffff;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%)
}

.about-image img:hover {
	filter: none;
	-webkit-filter: none;
}

.about-text {
	margin-top: 20%;
	margin-left: 5%;
	width: 500px;
}

.about-title {
	font-size: var(--h3-font-size);
}

.about-text p{
	margin-top: 20px;
	font-size: var(--p-font-size);
	text-align: justify;
	line-height: 25px;
}

															/*skills section*/

.skills {
	margin-top: 5%;

	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
}

.skill-title {
	display: inline-block;
	max-width: 800px;
	min-width: 100px;
	text-align: center;
}

.skill-title h2{
	font-size: var(--h3-font-size);
}

.skill-title p{
	margin: 10px;
	line-height: 25px;
}

.skill-logo {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: medium;
	color: var(--text-color-secondary);
}

.skill-logo:hover{
	color: var(--text-color-primary);
	transition: 2s all;
}

.skill-container .skill-logo-container img{
	width: 150px;
	height: auto;
	max-width: 100%;
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.skill-container .skill-logo-container img:hover{
	filter: none;
	-webkit-filter: none;
}


															/*education-section*/
.education{
	margin-top: 0%;
}

.education-title {
	margin: auto;
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-bottom: 5%;
}

.education-title h2{
	font-size: var(--h3-font-size);
}

.education-data {
  	display: grid;
  	grid-template-columns: 1fr max-content 1fr;
  	column-gap: 1.5rem;
}

.education-data-left {
	text-align-last: end;
}

.education-school {
 	letter-spacing: 1px;
 	font-size: 1.3rem;
  	font-weight: medium;
}

.education-sub {
	display: inline-block;
	font-size: 0.9rem;
	font-style: italic;
  	font-weight: thin;
}

.education-address {
  	display: inline-block;
 	font-size: 0.9rem;
  	margin-bottom: 1rem;
  	font-weight: thin;
}

.education-date {
  	font-size: 0.8rem;
  	font-weight: lighter;
 	font-style: italic;
  	color: var(--text-color-primary);
}

.education-round {
 	display: inline-block;
	width: 13px;
 	height: 13px;
 	background-color: #000000;
 	border-radius: 50%;
}

.education-line {
 	display: block;
 	width: 1px;
 	height: 100%;
 	background-color: #000000;
  	transform: translate(6px, -7px);
}

.education-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.school-logo {
	width: 100px;
	height: 100px;
	display: inline;
	margin: 40px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.school-logo img{
	max-width: 100%;
	height: auto;
}

.school-logo:hover{
	filter: none;
	-webkit-filter: none;
}




														/*responsive style*/

@media (max-width: 650px) {
	#menu-icon {
		display: block;
	}

	.home{
		min-height: 80vh;
	}

	.navlist{
		position: absolute;
		top: -600px;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-secondary);
		text-align: right;
		transition: all .40s;
	}

	.navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-primary);
		color: var(--text-color-secondary);
	}

	.navlist a:hover{
		background: var(--bg-color-primary);
		color: var(--text-color-primary);
		border-radius: 5px 0px 5px 5px;
	}

	.navlist a::after{
		display: none;
	}

	.navlist.active {
		top: 100%;
	}

	header.scrolled #menu-icon {
		font-size: 35px;
		color: black;
		z-index: 10001;
		cursor: pointer;
	}

	header.scrolled .navlist{
		position: absolute;
		left: 0;
		right: 0;
		flex-direction: column;
		background: var(--bg-color-primary);
		text-align: right;
		transition: all .40s;
	}

	header.scrolled .navlist a {
		display: block;
		padding: 1rem;
		margin: 1rem;
		border-right: 2px solid var(--bg-color-secondary);
		color: var(--text-color-primary);
	}

	header.scrolled .navlist a:hover{
		background: var(--bg-color-secondary);
		opacity: .80;
		color: var(--text-color-secondary);
		border-radius: 5px 0px 5px 5px;
	}
}

